@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap");
.font-cinzel {
  font-family: "Cinzel", serif;
}
.font-14 {
  font-size: 14px;
}
.font-18 {
  font-size: 18px;
}
.font-22 {
  font-size: 22px;
}

.font-24 {
  font-size: 24px;
}
.font-32 {
  font-size: 32px;
}
.font-300 {
  font-weight: 300;
}
.font-400 {
  font-weight: 400;
}
.font-500 {
  font-weight: 500;
}
